body{
background-color: beige;
font-size: 30px;
}

.item img{
width: 400px;
height:400px;
}

.item{
    display: inline-block;
    margin: 20px 50px;
    border: 10px solid #fff;
    font-weight:700px;
}

.item .name{
    display: block;
    background-color: #fff;
    padding:8px;
    margin-top: -3px;
}


a{
    color: black;
    text-decoration: none;
}

.container{
    position: relative;
    text-align: left;

}

.container img{
    width: 100%;
}

.banner-heading h1{
    position:absolute;
    bottom: 200px;
    left: 150px;
    color: #fff;
    font-size: 120px;
    

}

/* recipes styling */

.recipe-image img{
display:block;
width:90%;
height: 900px;
margin: 20px auto;
border: 20px solid #fff;

}

.ingredients{
    display:inline-block;
    background-color: #8b6c5c;
    color:#fff;
    margin-left: 50px;
    padding:20px;
    box-sizing: border-box;
    width:500px;
    outline: dashed black;

}

h1, h2, h3, h4, h5, h6,
p,
li {
    margin: 16px 60px;
}

.ingredients, .steps {
    display:inline-block;
    vertical-align: top;
    margin-top: 20px;
}

.steps{
    box-sizing: border-box;
    outline: 2px solid black;
    margin-left: 20px;
    color: white;
    background-color: rgba(11, 102, 35, 70%);
}

.home{
    margin-left:60px;
    text-decoration:underline;
}
