body{
background-color: beige;
font-size: 30px;
}

.item img{
width: 400px;
height:400px;
}

.item{
    display: inline-block;
    margin: 20px 50px;
    border: 10px solid #fff;
    font-weight:700px;
}

.item .name{
    display: block;
    background-color: #fff;
    padding:8px;
    margin-top: -3px;
}


a{
    color: black;
    text-decoration: none;
}

.container{
    position: relative;
    text-align: left;

}

.container img{
    width: 100%;
}

h1{
    position:absolute;
    bottom: 350px;
    left: 150px;
    color: #fff;
    font-size: 120px;
    

}
